<div class="jumbotron">
	<h1>Matt Mochary</h1>
	<p>Matt is a 44 year old dad living in Silicon Valley who has co-founded, run and sold two tech companies.  But he has never coded.  
		His next goal in life is to pass on to his children skills that he thinks will be useful to them in the future.  One of them is coding.  But if he is to help his kids learn to code, he reckons he ought to know it himself.  

		Hence this project ...</p>
</div>